{{#each items}}
    <article class="search-result entry">
        <header class="entry-header">
            <h2 class="entry-title">
                <a href="{{link}}">{{{htmlTitle}}}</a>
            </h2>
            {{#if pagemap.cse_thumbnail}}
                <figure class="alignright cse-feature">
                    <img src="{{pagemap.cse_thumbnail.[0].src}}" alt=""/>
                </figure>
            {{/if}}
        </header>
        <div class="entry-content">
            {{{htmlSnippet}}}
        </div>
        <footer class="entry-footer">
            <p class="entry-meta">
                {{{formattedUrl}}}
                {{#if pagemap.labels}}
                    <span class="entry-categories">
                        {{#each pagemap.labels}}
                            &nbsp;|&nbsp;{{displayName}}
                        {{/each}}
                    </span>
                {{/if}}
            </p>
        </footer>
    </article>
{{/each}}