header.search-results-header {
  margin: 2rem 5rem; }

.content ul.search-refinements {
  list-style: none;
  padding: 0;
  margin: 0; }
  .content ul.search-refinements li {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    border-left: 1px solid #000; }
    .content ul.search-refinements li a {
      margin: 0 .5rem;
      display: block;
      padding: .25rem .5rem; }
      .content ul.search-refinements li a.not-selected {
        border-bottom: none;
        box-shadow: none; }
    .content ul.search-refinements li:first-child {
      border-left: none; }

.search-sort {
  text-align: right; }
  .search-sort label {
    display: inline-block;
    margin-right: .5rem; }
  .search-sort select {
    width: auto;
    display: inline-block; }

.search-pagination {
  margin: 2rem 5rem; }
  .search-pagination li {
    margin-right: .5rem; }

/*# sourceMappingURL=style.css.map */
