header.search-results-header {
  margin: 2rem 5rem;
}

.content ul.search-refinements {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    border-left: 1px solid #000;

    a {
      margin: 0 .5rem;
      display: block;
      padding: .25rem .5rem;

      &.not-selected {
        border-bottom: none;
        box-shadow: none;
      }
    }

    &:first-child {
      border-left: none;
    }
  }
}

.search-sort {
  text-align: right;

  label {
    display: inline-block;
    margin-right: .5rem;
  }

  select {
    width: auto;
    display: inline-block;
  }
}

.search-pagination {
  margin: 2rem 5rem;

  li {
    margin-right: .5rem;
  }
}